{% block card %}
<div class="card" style="width: 600px; margin: auto;">
    <img src="{{ img_src }}" class="card-img-top" style="margin: auto; height: auto;">
    <div class="card-body">
        <p class="card-text">{{ card_text }}</p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary">View</button>
            <button type="button" class="btn btn-outline-secondary">Edit</button>
        </div>
    </div>
</div>
{% endblock %}