{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Главная{% endblock %}
{% block main %}Каталог{% endblock %}
{% block description %}{% endblock %}
<div class="content">
  {% block content %}
  <div class="row row-cols-1 row-cols-md-2 g-5">
      {% for product in products|slice:"4:" %}
      <div class="col">
          <div class="card" style="width: 600px; margin: auto;">
              <img src="{{ product.image | media_filter }}" class="card-img-top" style="margin: auto;">
              <div class="card-body">
                  <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <button type="button" class="btn btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-outline-secondary">Edit</button>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}