<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<!-- Боковая панель -->
    <div class="sidebar d-flex flex-column">
        <h2 class="text-center py-3">Меню</h2>
        <a href="http://127.0.0.1:8000/" class="active">Главная</a>
        <a href="http://127.0.0.1:8000/category_1">Категории</a>
        <a href="http://127.0.0.1:8000/catalog">Каталог</a>
        <a href="http://127.0.0.1:8000/contact">Контакты</a>
        <div class="profile-menu mt-auto">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Профиль</a>
            <a href="#">Выход</a>
        </div>
    </div>

<!-- Основной контент -->
<div class="content">
        <h1 class="text-center" style="height: 150px;">Каталог</h1>
    <div class="row row-cols-1 row-cols-md-2 g-5">
  <div class="col">
    <div class="card" style="width: 600px; margin: auto;">
      <img src="https://www.zastavki.com/pictures/1920x1200/2010/Creative_Wallpaper_Black_wood_021744_.jpg" class="card-img-top" style="margin: auto;">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary">View</button>
            <button type="button" class="btn btn-outline-secondary">Edit</button>
            </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 600px; margin: auto;">
      <img src="https://www.zastavki.com/pictures/1920x1200/2010/Creative_Wallpaper_Black_wood_021744_.jpg" class="card-img-top" style="margin: auto;">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary">View</button>
            <button type="button" class="btn btn-outline-secondary">Edit</button>
            </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 600px; margin: auto;">
      <img src="https://www.zastavki.com/pictures/1920x1200/2010/Creative_Wallpaper_Black_wood_021744_.jpg" class="card-img-top" style="margin: auto;">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary">View</button>
            <button type="button" class="btn btn-outline-secondary">Edit</button>
            </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 600px; margin: auto;">
      <img src="https://www.zastavki.com/pictures/1920x1200/2010/Creative_Wallpaper_Black_wood_021744_.jpg" class="card-img-top" style="margin: auto;">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary">View</button>
            <button type="button" class="btn btn-outline-secondary">Edit</button>
            </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
