{% extends 'base.html' %}
{% block title %}Категория 1{% endblock %}
{% block content %}
        <div class="row">
            <div class="product-container">
            <!-- Карточки товаров -->
                {% for product in products|slice:"1:4" %}
                    <div class="col-md-3">
                        {% include 'card.html' with product=product %}
                    </div>
                {% endfor %}
            </div>
        </div>
             <!-- Второй ряд карточек -->
        <div class="row mt-5">
            <div class="product-container">
                {% for product in products|slice:"5:8" %}
                    <div class="col-md-3">
                        {% include 'card.html' with product=product %}
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}