<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/my_style.css" />
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Регистрация</h1>
    <div class="card shadow-sm p-4 mx-auto" style="max-width: 600px;">
        <h2>{{ view.title }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}