<div class="card border-dark" style="max-width: 18rem; height: 280px">
    <div class="card-header text-center">
        <h4 class="card-title">
            {{ product.name }}
        </h4>
    </div>
    <div class="card-body">
        <h1 class="card-title text-center">
            {{ product.price }}
        </h1>
        <p class="card-text text-center">
            {{ product.description }}
        </p>
        <div class="d-grid gap-2" style="margin-top: 50px">
            <button type="button" class="btn btn-outline-primary">Купить</button>
        </div>
    </div>
</div>